name: Integration tests 2.0
on:
  workflow_dispatch:
    inputs:
      database:
        description: 'Database override'
        required: false
        default: ''
      engine:
        description: 'Engine override'
        required: false
  workflow_call:
    inputs:
      database:
        description: 'Database override'
        required: false
        default: ''
        type: string
      engine:
        description: 'Engine override'
        required: false
        type: string
      account:
        description: 'Account'
        required: false
        type: string
    secrets:
      FIREBOLT_CLIENT_ID_STG_NEW_IDN:
        required: true
      FIREBOLT_CLIENT_SECRET_STG_NEW_IDN:
        required: true
        
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Resolve account
        id: set-account
        run: |
          if ! [[ -z "${{ inputs.account }}" ]]; then
            echo "account=${{ inputs.account }}" >> $GITHUB_OUTPUT
            echo "account=${{ inputs.account }}"
          else
            echo "account=${{ vars.FIREBOLT_ACCOUNT }}" >> $GITHUB_OUTPUT
            echo "account=${{ vars.FIREBOLT_ACCOUNT }}"
          fi

      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up .NET 6.0
        id: dotnet-setup
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0

      - name: use .NET 6.0
        run: |
          dotnet new globaljson --sdk-version '${{ steps.dotnet-setup.outputs.dotnet-version }}'    

      - name: Install dependencies
        run: |
          dotnet restore

      - name: Setup database and engine
        if: ${{ inputs.database == '' }}
        id: setup
        uses: firebolt-db/integration-testing-setup@v2
        with:
          firebolt-client-id: ${{ secrets.FIREBOLT_CLIENT_ID_STG_NEW_IDN }}
          firebolt-client-secret: ${{ secrets.FIREBOLT_CLIENT_SECRET_STG_NEW_IDN }}
          account: ${{ steps.set-account.outputs.account }}
          api-endpoint: "api.staging.firebolt.io"

      - name: Determine database name
        id: find-database-name
        run: |
          if ! [[ -z "${{ inputs.database }}" ]]; then
              echo "database_name=${{ inputs.database }}" >> $GITHUB_OUTPUT
          else
              echo "database_name=${{ steps.setup.outputs.database_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Determine engine name
        id: find-engine-name
        run: |
          if ! [[ -z "${{ inputs.engine }}" ]]; then
              echo "engine_name=${{ inputs.engine }}" >> $GITHUB_OUTPUT
          else
              echo "engine_name=${{ steps.setup.outputs.engine_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Run integration tests
        env:
          FIREBOLT_ENV: staging
          FIREBOLT_ACCOUNT: ${{ steps.set-account.outputs.account }}
          FIREBOLT_DATABASE: ${{ steps.setup.outputs.database_name }}
          FIREBOLT_ENGINE_NAME: ${{ steps.setup.outputs.engine_name }}
          FIREBOLT_CLIENT_ID: ${{ secrets.FIREBOLT_CLIENT_ID_STG_NEW_IDN  }}
          FIREBOLT_CLIENT_SECRET: ${{ secrets.FIREBOLT_CLIENT_SECRET_STG_NEW_IDN  }}
        run: |
          dotnet test --filter '(Category=Integration|Category=IntegrationSetup)&(Category=engine-v2|Category=general)&Name!=ExecuteLongTest' -l "console;verbosity=normal"
