name: Pull request

on:
  pull_request:
    branches: [ main, 0.x ]
  push:
    branches: [ main ]

jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check title name convention
        uses: firebolt-db/action-pr-checks@519d59493b028e944971deaeca570933c378f09e
        with:
          github-key: ${{ secrets.GITHUB_TOKEN }}
  build:
    uses: ./.github/workflows/build.yml
  code-checkers:
    uses: ./.github/workflows/code-check.yml
  unit-tests:
    uses: ./.github/workflows/unit-tests.yml
  sonar-scan:
    uses: ./.github/workflows/sonar-scan.yml
    needs: [build, unit-tests]
    secrets:
      SONARCLOUD_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
